<h2>Today</h2>
Calories: <%=@user.calories_burned%><br>
Steps: <%= @user.steps_taken %>

<h2>This Month</h2>
Calories: <%=@user.calories_burned('today', '1m')%><br>
Steps: <%= @user.steps_taken('today', '1m') %>

<%= react_component('Application') %>
<h2>Progress Bar</h2>
<%= react_component("ProgressBar") %>
